sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: IB/U5uQVtDPN5ox80MrihZrTvIGULYVmmZLyOQ2YNLW5ZJGGsIOj25GaHXA8GWnF0xXiESXHlzHTlqXEbTqH92sgFVrwzEVVPHPhnmum8DPqMLVjy5weMrKrHxfaFOIGuoNYEwYPmgOKWwu8khDDu8ml1AX7nRmV69l/8OfJUJA0aC8oK9iCuKXDpyHHN8bdFwivK0E+F8UM13GVb6A0fltMKYLiJhMJ/ivKAfviEwmmPsR+VFBDhtMNjlk+SZ6+R4Yb9yhrgEH0ndA/H84QwABDLWuIEXvx2IhGjf8linwozcgS4Sr1YhOy79Vz2V7OwJCSy7VyV0p5z2WXv0I4XYUtmicBAhAjHC6MLSPViOtbXFAsF+yHpS/LjvJIKhvdxvH3JUcrXdISla7p5WRNZ8P1+vQrN78hWMV7/U7XdXf8VobBGmCauytnrJcu+W1/s/IwYpHvBRb4Cqn1fCwIQUctWQlOBMIUy3y658F52vPOB+MEjDLv8KntgNRRje7Q+TtG4oAvpLzMucftKHdWlzaWCNM9q0rickgCZJxSPwi8PzEXR+S2+uUxfDea8oiO5g0LMNENx9qTFs3DFjo6Itq5FWdGc11+rdX9hhi8PicvUOYkMhiZ4AKnsA+UCQyG1x4LpgUC0nwm1qBIzzJvCLl20Cdi5527RqJeFh9coVg=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Essays-of-Michel-de-Montaigne---Volume-02_3582
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy